<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Daftar Kelas</title>
</head>
<body>
<section layout:fragment="content">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Daftar Kelas</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <a th:href="@{/kelas/form}" class="btn btn-sm btn-outline-secondary">Tambah Kelas</a>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th>#</th>
                <th>Kode Kelas</th>
                <th>Nama Kelas</th>
                <th>Mulai</th>
                <th>Selesai</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>J-001</td>
                <td>Java Web Basic</td>
                <td>1-Nov-2018</td>
                <td>10-Nov-2018</td>
            </tr>
            <tr>
                <td>2</td>
                <td>J-001</td>
                <td>Java Web Basic</td>
                <td>11-Nov-2018</td>
                <td>20-Nov-2018</td>
            </tr>
            <tr>
                <td>3</td>
                <td>J-001</td>
                <td>Java Web Basic</td>
                <td>21-Nov-2018</td>
                <td>30-Nov-2018</td>
            </tr>
            <tr>
                <td>4</td>
                <td>J-002</td>
                <td>Microservices</td>
                <td>1-Nov-2018</td>
                <td>10-Nov-2018</td>
            </tr>
            </tbody>
        </table>
    </div>
</section>
</body>
</html>