<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Daftar Subjek</title>
</head>
<body>
<section layout:fragment="content">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Daftar Subjek</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2" sec:authorize="hasAuthority('EDIT_SUBJEK')">
                <a th:href="@{/subjek/form}" class="btn btn-sm btn-outline-secondary">Tambah Subjek</a>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th>#</th>
                <th>Kode Subjek</th>
                <th>Nama Subjek</th>
                <th>&nbsp;</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="s,i : ${dataSubjek.content}">
                <td th:text="${i.count}">1</td>
                <td th:text="${s.kode}">J-001</td>
                <td th:text="${s.nama}">Java Web Basic</td>
                <td>
                    <a th:href="@{/subjek/form(id=${s.id})}" sec:authorize="hasAuthority('EDIT_SUBJEK')">edit</a>
                </td>
            </tr>
            </tbody>
        </table>

        <div class="row">
            <div class="col-sm-6">
                <div sd:pagination-summary="">info</div>
            </div>
            <div class="col-sm-6">
                <nav class="pull-right">
                    <ul class="pagination" sd:pagination="full">
                        <!-- Pagination created by SpringDataDialect, this content is just for mockup -->
                        <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                        <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</section>
</body>
</html>