<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Edit Pertanyaan</title>
</head>
<body>
<section layout:fragment="content">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Edit Pertanyaan</h1>
    </div>

    <div th:if="${pesan}" th:text="${pesan}">Nanti pesan tampil di sini</div>

    <form method="post" th:object="${pertanyaan}">
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Subjek</label>
            <div class="col-sm-10">
                <select class="form-control" id="subjek" th:field="*{subjek}">
                    <option th:each="s : ${daftarSubjek}"
                            th:value="${s.id}"
                            th:text="${'['+ s.kode + '] - '+s.nama}">Subjek</option>
                </select>
                <div class="invalid-feedback"
                     th:if="${#fields.hasErrors('subjek')}" th:errors="*{subjek}">
                    Pesan error nanti di sini
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label for="kode" class="col-sm-2 col-form-label">Kode</label>
            <div class="col-sm-10">
                <input type="text" class="form-control"
                       th:errorclass="is-invalid"
                       th:field="*{kode}"
                       id="kode" placeholder="Kode Pertanyaan">
                <div class="invalid-feedback"
                    th:if="${#fields.hasErrors('kode')}" th:errors="*{kode}">
                    Pesan error nanti di sini
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="pertanyaan" class="col-sm-2 col-form-label">Pertanyaan</label>
            <div class="col-sm-10">
                <input type="text" class="form-control"
                       th:errorclass="is-invalid"
                       th:field="*{pertanyaan}"
                       id="pertanyaan" placeholder="Pertanyaan">
                <div class="invalid-feedback"
                     th:if="${#fields.hasErrors('pertanyaan')}" th:errors="*{pertanyaan}">
                    Pesan error nanti di sini
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="kunciJawaban" class="col-sm-2 col-form-label">Kunci Jawaban</label>
            <div class="col-sm-10">
                <input type="text" class="form-control"
                       th:errorclass="is-invalid"
                       th:field="*{kunciJawaban}"
                       id="kunciJawaban" placeholder="Kunci Jawaban">
                <div class="invalid-feedback"
                     th:if="${#fields.hasErrors('kunciJawaban')}" th:errors="*{kunciJawaban}">
                    Pesan error nanti di sini
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="waktuDetik" class="col-sm-2 col-form-label">Waktu (dalam detik)</label>
            <div class="col-sm-10">
                <input type="text" class="form-control"
                       th:errorclass="is-invalid"
                       th:field="*{waktuDetik}"
                       id="waktuDetik" placeholder="Waktu (dalam detik)">
                <div class="invalid-feedback"
                     th:if="${#fields.hasErrors('waktuDetik')}" th:errors="*{waktuDetik}">
                    Pesan error nanti di sini
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Tipe Pertanyaan</label>
            <div class="col-sm-10">
                <div class="form-check"
                     th:each="t : ${T(com.artivisi.training.spring201801.onlinetest.entity.TipePertanyaan).values()}">
                    <input class="form-check-input" type="radio"
                           th:field="*{tipePertanyaan}" th:value="${t}" />
                    <label class="form-check-label"
                            th:for="${#ids.prev('tipePertanyaan')}" th:text="${t.displayLabel}">Tipe Pertanyaan</label>
                </div>
                <div class="invalid-feedback"
                     th:if="${#fields.hasErrors('tipePertanyaan')}" th:errors="*{tipePertanyaan}">
                    Pesan error nanti di sini
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Tingkat Kesulitan</label>
            <div class="col-sm-10">
                <div class="form-check"
                     th:each="t : ${pilihanTingkatKesulitan}">
                    <input class="form-check-input" type="radio"
                           th:field="*{tingkatKesulitan}" th:value="${t}" />
                    <label class="form-check-label"
                            th:for="${#ids.prev('tingkatKesulitan')}" th:text="${t.displayLabel}">Tingkat Kesulitan</label>
                </div>
                <div class="invalid-feedback"
                     th:if="${#fields.hasErrors('tingkatKesulitan')}" th:errors="*{tingkatKesulitan}">
                    Pesan error nanti di sini
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">Simpan</button>
            </div>
        </div>
    </form>
</section>
</body>
</html>