<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Edit Peserta</title>
</head>
<body>
<section layout:fragment="content">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Edit Peserta</h1>
    </div>

    <div th:if="${hasil}" th:text="${hasil}" class="alert alert-success" role="alert">
        Pesan sukses/error
    </div>

    <form method="post" th:action="@{/peserta/form}" th:object="${peserta}" enctype="multipart/form-data">

        <div class="form-group row">
            <label for="nomor" class="col-sm-2 col-form-label">Nomor</label>
            <div class="col-sm-10">
                <input type="text" class="form-control"
                       th:errorclass="is-invalid"
                       th:field="*{nomor}"
                       id="nomor" placeholder="Nomor Peserta">
                <div class="invalid-feedback"
                    th:if="${#fields.hasErrors('nomor')}" th:errors="*{nomor}">
                    Pesan error nanti di sini
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="namaDepan" class="col-sm-6 col-form-label">Nama Depan</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control"
                           th:errorclass="is-invalid"
                           th:field="*{namaDepan}"
                           id="namaDepan" placeholder="Nama Depan">
                    <div class="invalid-feedback"
                         th:if="${#fields.hasErrors('namaDepan')}" th:errors="*{namaDepan}">
                        Pesan error nanti di sini
                    </div>
                </div>
            </div>

            <div class="form-group col-md-6">
                <label for="namaBelakang" class="col-sm-6 col-form-label">Nama Belakang</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control"
                           th:errorclass="is-invalid"
                           th:field="*{namaBelakang}"
                           id="namaBelakang" placeholder="Nama Belakang">
                    <div class="invalid-feedback"
                         th:if="${#fields.hasErrors('namaBelakang')}" th:errors="*{namaBelakang}">
                        Pesan error nanti di sini
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="email" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
                <input type="email" class="form-control"
                       th:errorclass="is-invalid"
                       th:field="*{email}"
                       id="email" placeholder="Email">
                <div class="invalid-feedback"
                     th:if="${#fields.hasErrors('email')}" th:errors="*{email}">
                    Pesan error nanti di sini
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="noHp" class="col-sm-2 col-form-label">No Handphone</label>
            <div class="col-sm-10">
                <input type="text" class="form-control"
                       th:errorclass="is-invalid"
                       th:field="*{noHp}"
                       id="noHp" placeholder="+628xxxxxxxx">
                <div class="invalid-feedback"
                     th:if="${#fields.hasErrors('noHp')}" th:errors="*{noHp}">
                    Pesan error nanti di sini
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="fileFoto" class="col-sm-2 col-form-label">Foto</label>
            <div class="col-sm-10">
                <input type="file" class="form-control"
                       name="fileFoto"
                       id="fileFoto" placeholder="File foto jpeg/png maksimal 4 MB">
                <div class="invalid-feedback"
                     th:if="${#fields.hasErrors('foto')}" th:errors="*{foto}">
                    Pesan error nanti di sini
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">Simpan</button>
            </div>
        </div>
    </form>
</section>
</body>
</html>