<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Daftar Peserta</title>
</head>
<body>
<section layout:fragment="content">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Daftar Peserta</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <a th:href="@{/peserta/form}" class="btn btn-sm btn-outline-secondary">Tambah Subjek</a>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <div class="row">
            <div class="col-sm-4" th:each="s,i : ${dataPeserta.content}">
                <div class="card" style="width: 21rem;">
                    <img class="card-img-top img-fluid" th:src="@{/peserta/{id}/foto(id=${s.id})}">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${s.namaLengkap}">Card title</h5>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item" th:text="${s.email}">Email</li>
                        <li class="list-group-item" th:text="${s.noHp}">No HP</li>
                    </ul>
                    <div class="card-body">
                        <a th:href="@{/peserta/form(id=${s.id})}" class="btn btn-primary">edit</a>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-6">
                <div sd:pagination-summary="">info</div>
            </div>
            <div class="col-sm-6">
                <nav class="pull-right">
                    <ul class="pagination" sd:pagination="full">
                        <!-- Pagination created by SpringDataDialect, this content is just for mockup -->
                        <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                        <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</section>
</body>
</html>